.login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-card{
    width: 300px
}

.login-action{
    display: flex;
    justify-content: flex-end;
}

.full-width{
    width: 100%
}