<div class="login-main">
    <form [formGroup]="loginForm" (ngSubmit)="login()">    
        <mat-card class="login-card">
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input  matInput name="email" formControlName="email">
                        <mat-error *ngIf="submitted && f.email.errors && f.email.errors.email">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="submitted && f.email.errors && f.email.errors.required">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input  matInput type="password" name="password" formControlName="password">
                        <mat-error *ngIf="submitted && f.email.errors && f.password.errors.required">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="login-action">
                <button mat-raised-button color="primary">Login</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>